body {
    margin: 0;
    padding: 0;
    background-color: #E3D4B9;
}

.navbar-main-container {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    border-radius: 30px;
}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.menu-item {
    text-decoration: none;
    color: white;
}

.auth-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

header img {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin-right: 15px;
}
header {
    background-color: #4b3D2D;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-align: center;
}

div a {
    color: white;
    margin: 0 15px;
    font-size: 15px;
}

.book-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

}

.book-card {
    background-color: lightyellow;
    width: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px grey;
}

.book-card:hover {
    transform: translateY(-4px);
}

.book-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 6px;
}

.book-title {
    font-size: 16px;
    margin-top: 8px;
}

.book-author {
    font-size: 13px;
}

.price {
    font-size: 15px;
    margin: 8px 0;

}

button {
    background-color: #4b3D2D;
    color: white;
    font-size: 13px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.button :hover {
    background-color: #e3b785;

}

.add-to-cart-button a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:768px) {
    .main-content-container{
        flex-direction: column;
        align-items: center;
    }   
}
.back{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 100%;
    height: 60px;
    width: 60px;
}
.kids-back{
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 100%;
    }

.back-image{
    border: 1px;
    border-radius: 100%;
}  

.back-image:hover{
    transform: translateY(-4px);
}