body{
    background-color: #E3D4B9;
    
}

.login-title{
    text-align: center;
    margin-bottom: 0%;
}

.container-login-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.subconatianer{
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    background-color:#C2B280;
    text-align:left;
    align-items: center;
}

.login-info{
    text-align: left;
}

.form {
    height: 450px;
    width: 600px;
    margin: 100px;
    border: 1px solid rgb(181, 183, 184);
    border-radius: 10px;
    background-color:#C2B280;
    text-align: center;
}



.form:hover{
    border: 0.2px solid #af7a42;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.login-signup-button {
    width: 177px;
    background-color: #8B5B29;
    padding: 6px 14px;
    border-radius: 10px;
    cursor: pointer;
    border: #b9b6b6;
    border: 1px solid rgb(181, 183, 184);
    text-decoration-color: white;
}

.login-signup-button:hover {
    background: #E3D4B9;
}

